<h1>Home admin</h1>

<div class="card" style="min-height: 400px;background-color: rgba(82, 82, 255, 0.567);">
    <div class="card-body">
        <a href="/admin/cadastro" class="btn btn-success">Novo Cadastro</a>
        <a href="/admin/usuarios" class="btn btn-danger">Editar ou Deletar Cadastros</a>
    </div>
</div>

